.memes {
    width: 31.25em;
    margin: auto;
}

img {
    max-width: 50%;
    margin: auto;
    display: block ;
}

.memes-img {
    opacity: 0;
    max-width: 0%;
    transition: all .7s;
}

.memes-title {
    color: -webkit-link;
}

.memes-item:active label{
    color: -webkit-link !important;
}

.memes-input {
    width: 0;
    height: 0;
    appearance: none;
    cursor: pointer;
}

.memes-input:checked ~ .memes-img {
    max-width: 100%;
    opacity: 1;
    cursor: pointer;
}

.memes:hover .memes-title {
    color: black;
    cursor: pointer;
}

.memes-input:checked ~ .memes-title {
    color: black;
}

.memes-item {
    margin-bottom: 1em;
}

.memes-item:hover .memes-img {
    max-width: 100%;
    opacity: 1;
    cursor: pointer;
}

.memes:hover .open {
    opacity: 1;
}

.wrapper {
    display: flex;
}

h1 {
    margin: 0 0 0 2%;
}

.content:hover .open {
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #007bff transparent; 
}

.memes-input:checked ~ .open {
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #007bff transparent;
}

.open {
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #007bff transparent transparent transparent;
    width: 0;
    height: 0;
    margin: 0 0 0 90%;
    opacity: 0;
}

label {
    cursor: pointer;
}